.navbar{
    justify-content: space-between;
}

span{
    padding-right: 1rem;
}

.heading{
    text-align: center;
    padding-top: 10px;
}

h1{
    font-size: 40px;
}

.desc{
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
}

.select{
    padding-top: 10px;
    text-align: center;
}

.drive{
    text-align: center;
    padding-top: 10px;
    padding-right: px;
}
