<mat-toolbar color = 'primary' class = 'navbar'>
    <div>PDF Manager</div>
    <div>
        <span>Merge PDF</span>
        <span>Split PDF</span>
        <span>Compress PDF</span>
    </div>
</mat-toolbar>

<div class="heading"><h1>Merge PDF files</h1></div>
<div class="desc">Combine PDFs in the order you want</div>

<div class="select">
        <button mat-flat-button color="primary">Select PDF files</button>
</div>
<div class="drive">
    <button mat-mini-fab><mat-icon>attach_file</mat-icon></button>
    <button mat-mini-fab><mat-icon>cloud_upload</mat-icon></button>
</div>

    



<router-outlet></router-outlet>
